In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Port Alfred,-33.59,26.89,70.54,68,29,16.87,ZA,2020-10-17 14:51:21
1,1,Mataura,-46.19,168.86,48.00,77,94,5.01,NZ,2020-10-17 14:51:21
2,2,Ushuaia,-54.80,-68.30,44.60,56,15,6.93,AR,2020-10-17 14:50:11
3,3,Cape Town,-33.93,18.42,68.00,60,100,13.87,ZA,2020-10-17 14:46:57
4,4,Gayeri,12.65,0.49,99.82,20,78,13.71,BF,2020-10-17 14:51:21

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,6,Natal,-5.79,-35.21,87.80,52,75,19.46,BR,2020-10-17 14:51:21
7,7,Kapaa,22.08,-159.32,75.20,100,1,7.36,US,2020-10-17 14:51:22
9,9,Namatanai,-3.67,152.43,80.08,73,100,2.21,PG,2020-10-17 14:51:22
28,28,Pafos,34.77,32.42,78.80,57,20,9.17,CY,2020-10-17 14:51:26
29,29,Cayenne,4.93,-52.33,89.60,55,20,10.29,GF,2020-10-17 14:51:26
34,34,Qui Nhon,13.77,109.23,77.47,84,100,5.68,VN,2020-10-17 14:51:27
36,36,Butaritari,3.07,172.79,82.08,79,7,14.03,KI,2020-10-17 14:51:27
37,37,The Valley,18.22,-63.06,82.99,88,20,3.36,AI,2020-10-17 14:51:28
40,40,Hithadhoo,-0.60,73.08,84.06,75,99,18.81,MV,2020-10-17 14:51:28
44,44,Sur,22.57,59.53,81.37,49,44,14.23,OM,2020-10-17 14:51:29

In [12]:
preferred_cities_df.count()

City_ID       172
City          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
Country       172
Date          172
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
6        Natal      BR     87.80  -5.79  -35.21
7        Kapaa      US     75.20  22.08 -159.32
9    Namatanai      PG     80.08  -3.67  152.43
28       Pafos      CY     78.80  34.77   32.42
29     Cayenne      GF     89.60   4.93  -52.33
34    Qui Nhon      VN     77.47  13.77  109.23
36  Butaritari      KI     82.08   3.07  172.79
37  The Valley      AI     82.99  18.22  -63.06
40   Hithadhoo      MV     84.06  -0.60   73.08
44         Sur      OM     81.37  22.57   59.53

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): 
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Natal,BR,87.80,-5.79,-35.21,Villa Park Hotel | Natal
7,Kapaa,US,75.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,Namatanai,PG,80.08,-3.67,152.43,Namatanai Hotel
28,Pafos,CY,78.80,34.77,32.42,Elysium Hotel
29,Cayenne,GF,89.60,4.93,-52.33,Hôtel Le Dronmi

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]