## Deliverable 3. Create a Travel Itinerary Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\Mckenzie\Desktop\Class Folder\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Russell,US,80.60,scattered clouds,32.35,-85.20,Macs
1,5,Puerto Ayora,EC,78.80,broken clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
2,6,Kumluca,TR,72.36,broken clouds,36.37,30.29,TurkuazKöy
3,7,Sri Aman,MY,77.00,overcast clouds,1.24,111.46,Seri Simanggang Hotel
4,10,Rikitea,PF,73.27,clear sky,-23.12,-134.97,Pension Maro'i

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City </dt><dd>{City}</dd>
<dt>Country </dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] ==  "Dickinson"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Dickinson"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Havelock"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hope"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Seminole"]

In [58]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
end

(29.46, -95.05)

In [60]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING"
fig = gmaps.figure()
alldirection = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(alldirection)
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,358,Dickinson,US,84.99,broken clouds,29.46,-95.05,Candlewood Suites League City
1,358,Dickinson,US,84.99,broken clouds,29.46,-95.05,Candlewood Suites League City
2,440,Havelock,US,81.00,broken clouds,34.88,-76.90,Sherwood Motel
3,130,Hope,US,84.00,overcast clouds,33.67,-93.59,Best Western Hope
4,311,Seminole,US,81.00,broken clouds,28.71,-81.21,WHITNEY-WOLCOTT HOUSE ON LAKE CHARM

In [63]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
travel_route = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=travel_route)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))